@model IEnumerable<PracticeWebApp.Models.ContactDataModel>


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="auto">Address</th>
                <th scope="col">City</th>
                <th scope="col">Pincode</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in @Model)
            {
                <tr>
                    <td>@contact.Name</td>
                    <td>@contact.Address</td>
                    <td>@contact.City</td>
                    <td>@contact.Pincode</td>
                    <td>@contact.Phone</td>
                </tr>
            }
        </tbody>
    </table>

    <button onclick="location.href='@Url.Action("ContactData", "Home")'">Add New Data</button>
</div>


